.App {
  text-align: center;
  background-color: hsl(251, 62%, 24%);
  color: #C2BBE5;
  width: 100%;
  height: 100%;

}

.landing {
  background-color: #251762;
  width: 100%;
  height: 100%;

}

h1 {
  color: #FFCFBE
}

/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

